@addTagHelper *, Microsoft.AspNetCore.SpaServices
@using Microsoft.AspNetCore.Http.Features;

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"]</title>
        <link rel="shortcut icon" href="favicon.ico">
    </head>
    <body>
        <div
            id="root"
            asp-prerender-module="React/ssr/server.js"
            asp-prerender-data="new {
                page = @ViewBag.Page,
                consentCookie = showBanner
            }"
        ></div>
        <script src="./dist/app.js" asp-append-version="true"></script>
    </body>
</html>