@addTagHelper *, Microsoft.AspNetCore.SpaServices

@{
    ViewData["Title"] = "Home Page";
}

<div
    id="root"
    asp-prerender-module="React/ssr/server.js"
    asp-prerender-data="new {
        page = @ViewBag.Page
    }"
></div>
<script src="./dist/app.js" asp-append-version="true"></script>