@addTagHelper *, Microsoft.AspNetCore.SpaServices

@{
    ViewData["Title"] = "Home Page";
}

<!-- <div
    id="App"
    asp-prerender-module="React/Server/Home.js"
    asp-prerender-data="new {
        page = @ViewBag.Page
    }"
    ></div> -->

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!-- <script src="/dist/Views/Home.js" asp-append-version="true"></script> -->